<!-- views/partials/meta.ejs -->

<meta charset="utf-8">

<title><%= meta.title %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="google-site-verification" content="">
<meta name="theme-color" content="#222222">

<link rel="alternate" type="application/rss+xml" title="" href="<%= meta.url %>/feed">

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= meta.url %>/img/favicons/apple-touch-icon-57x57.png"/>
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= meta.url %>/img/favicons/apple-touch-icon-114x114.png"/>
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= meta.url %>/img/favicons/apple-touch-icon-72x72.png"/>
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= meta.url %>/img/favicons/apple-touch-icon-144x144.png"/>
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="<%= meta.url %>/img/favicons/apple-touch-icon-60x60.png"/>
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= meta.url %>/img/favicons/apple-touch-icon-120x120.png"/>
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= meta.url %>/img/favicons/apple-touch-icon-76x76.png"/>
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= meta.url %>/img/favicons/apple-touch-icon-152x152.png"/>
<link rel="icon" type="image/png" href="<%= meta.url %>/img/favicons/favicon-196x196.png" sizes="196x196"/>
<link rel="icon" type="image/png" href="<%= meta.url %>/img/favicons/favicon-96x96.png" sizes="96x96"/>
<link rel="icon" type="image/png" href="<%= meta.url %>/img/favicons/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="<%= meta.url %>/img/favicons/favicon-16x16.png" sizes="16x16"/>
<link rel="icon" type="image/png" href="<%= meta.url %>/img/favicons/favicon-128.png" sizes="128x128"/>
<meta name="application-name" content="<%= meta.name %>">
<meta name="msapplication-TileColor" content="#FFFFFF"/>
<meta name="msapplication-TileImage" content="<%= meta.url %>/img/favicons/mstile-144x144.png"/>
<meta name="msapplication-square70x70logo" content="<%= meta.url %>/img/favicons/mstile-70x70.png"/>
<meta name="msapplication-square150x150logo" content="<%= meta.url %>/img/favicons/mstile-150x150.png"/>
<meta name="msapplication-wide310x150logo" content="<%= meta.url %>/img/favicons/mstile-310x150.png"/>
<meta name="msapplication-square310x310logo" content="<%= meta.url %>/img/favicons/mstile-310x310.png"/>
<meta name="theme-color" content="#222">
<link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64 96x96" href="<%= meta.url %>/favicon.ico">


<meta name="author" content="<%= meta.author %>">
<meta name="description" content="<%= meta.description %>">
<link rel="canonical" href="<%= meta.url %>">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{TWITTER_ID}">
<meta name="twitter:creator" content="@{TWITTER_ID}">
<meta name="twitter:title" content="{TWITTER_TITLE}">
<meta name="twitter:url" content="<%= meta.url %>">
<meta name="twitter:description" content="{TWITTER_DESC}">
<meta name="twitter:image:src" content="<%= meta.url %>/img/twitter-image.jpg">

<meta property="og:site_name" content="<%= meta.name %>">
<meta property="og:url" content="<%= meta.url %>">
<meta property="og:type" content="website">
<meta property="og:title" content="<%= meta.title %>">
<meta property="og:description" content="<%= meta.description %>/">
<meta property="og:image" content="<%= meta.url %>/img/facebook-image.png">
<meta property="fb:app_id" content="{FB_APP_ID}">
<meta property="fb:admins" content="{FB_ADMIN_ID}">

<meta itemprop="name" content="<%= meta.name %>">
<meta itemprop="description" content="<%= meta.description %>">
<meta itemprop="image" content="<%= meta.url %>/img/facebook-image.png">

<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
